@model Stemma.Models.Career

@{
    ViewBag.Title = "Suggestions for Career Stems";
}

<h2>Your Career</h2>

<div>
    <h4>Based on your answers, here are some ideas to add to your Stemma:</h4>
    <hr />
    @*<dl class="dl-horizontal">*@
    @*<dt>
            @Html.DisplayNameFor(model => model.AttendedCollege)
        </dt>*@

    @*<dd>
            @Html.DisplayFor(model => model.AttendedCollege)
        </dd>*@

    @*when you cut and paste: Make sure Model is capitalized.*@
    @*everything should look like the AttendedCollege example*@

    @if (Model.AttendedCollege == true)
    {
        <p>
            High school graduation.
        </p>
        <p>
            Being dropped off at college.
        </p>
        <p>
            Your first frat party.
        </p>
        <p>
            Memories from a big game.
        </p>
        <p>
            A story about your thesis.
        </p>
    }


    @if (Model.Graduations == true)
    {
        <p>
            Your college graduation.
        </p>
        <p>
            Stories about post-graduation education.
        </p>
    }

    @if (Model.HadJob == true)
    {
        <p>
            Your best day at work.
        </p>
        <p>
            The first time you quit a job (or got fired!).
        </p>
        <p>
            Your current job.
        </p>
        <p>
            A funny story from work.
        </p>
    }


    @if (Model.Accomplishments == true)
    {
        <p>
            A career highlight.
        </p>
        <p>
            Your favorite boss or colleague.
        </p>
    }


    @if (Model.FirstDayOfSchool == true)
    {
        <p>
            Your first day of school.
        </p>
        <p>
            Your favorite class.
        </p>
        <p>
            Your favorite teacher.
        </p>
    }


    @if (Model.ArmedForces == true)
    {
        <p>
            Experiences in the armed forces.
        </p>
    }

    @if (Model.Volunteer == true)
    {
        <p>
            A favorite volunteer activity.
        </p>
        <p>
            A person or organization you served.
        </p>
    }

    @if (Model.Legacies == true)
    {
        <p>
            Involvement in the community.
        </p>
        <p>
            A time you were a groundbreaker.
        </p>
    }

    @if (Model.TechSchool == true)
    {
        <p>
            Your experience at your technical/trade school.
        </p>
        <p>
            A project you completed at your technical/trade school.
        </p>
    }


    @if (Model.LicensesCertifications == true)
    {
    <p>
        Taking or passing an important professional exam.
    </p>
    <p>
        Obtaining a professional license or certification.
    </p>
    }


    @if (Model.FirstJob == true)
    {
    <p>
        Your first job.
    </p>
    }

    @if (Model.WorstJob == true)
    {
    <p>
        Your worst job.
    </p>

    }

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CareerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
