.rowDetails .thumbnail{
    height: 400px;
    padding:15px;
    text-align: left;
}
.thumbnail h4 {
    font-weight:bold;
    font-size: 24px;
}

.thumbnail ul {
    padding: 15px;
        font-size: 19px;

}

.thumbnail ul li:before {
  content: "BOO!";
}

/*i'd love to make that bullet point a leaf!*/
/*just stick it where you've written BOO!*/

p {
    font-size: 19px;
}
.btn {
    margin-left: 200px;
    padding-bottom: 3px;
}
.EntryButton {
    position: absolute;
    bottom: 35px;
    right: 35px;
    /*background-color: green;*/
}

