body {
}
div#landing-Content{
    left:50%;
    top:100%;
    margin-top:-50px;
    margin-left:-50px;
    padding-top:0px;
} 
.socialLoginList p{
    display:inline;
}
.cta2 .btn{
    padding: 13px 25px;
    border: none;
    color: white;
    display: inline-block;
    background-color: darkgreen;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.12em;
    border-radius: 24px;
}
h3{
    font-family: 'Allura', cursive;
    font-size: 54px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0.01em;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;}

.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 1% auto 1% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    padding-top:130px;
    float:left;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: green;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: green;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
