body {
}

#navaay{
    background-color:#006400;
    padding-bottom:-20px;
    margin-bottom:-20px;
    font:Marmelad;
}
/*.detailsHeading{
    margin-top:20px;
}*/

#navaay2{
   background-color:#006400;
   padding:-35px;
   margin:-10px;
}
