body {
    padding-bottom: 20px;
    font-family: "Roboto";
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}


*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro {
  background: #f45b69;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


