body {
    /*background-image: url('Images/pexels-photo-365638.jpeg');*/
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgba(200,200,175,0.2) 0%), url('Images/pexels-photo-365638.jpeg');
    background-size:cover;
    background-repeat: repeat;
    margin-top: 10px;
}
.custom-icon {
  background: #666;
  background: rgba(0, 128, 0, 0.8);
  border-radius: 100%;
  border: 3px solid #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  color: #fff;
  display: table-cell;
  font-size: large;
  height: 170px;
  padding-top: 30px;
  text-align: center;
  vertical-align: bottom;
  width: 170px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-top: 20px
}
.custom-icon:hover {
  background: rgba(0, 128, 0, 1.0);
}
.fix-editor {
  display: none;
}
p {
    color: rgb(80,73,62);
    text-align: justify;
    font-size: 20px;
    margin: 20px;
}
h4 {
    color: rgb(80,73,62);
    text-align: left;
    font-size: 25px;
    margin-left: 50px;
}
h2 {
    color: rgb(88,15,60);
    text-align: left;
    font-size: 50px;
    margin-top:50px;
    margin-left: 50px;
}
a {
    text-align: justify;
    color: rgb(88,15,60);
}
a:hover {
    text-align: center;
    color: rgb(88,15,60);
}
.CategoryRow1 {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}
.CategoryRow2 {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    padding-bottom:30px;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.fa:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
/*--adjust as necessary--*/
    font-size: 100px;
}
